{
  "bindext": true,
  "port": {{ ketchup_port }},
  "data_dir": "{{ ketchup_data_dir }}",
  "bolt": {
    "path": ""
  },
  "backup": {
    "enabled": false
  },
  "themes": {
    "path": "themes",
    "registry_url": "http://themes.ketchuphq.com/registry.json"
  }
}
